<%
//takes quiz data as json object
// and generate quiz content to render
function gen_quiz(data) {
    var r = 1
    data.forEach((row) => {
        var ques_s = "Q-"+r+": "+row.ques+"<br>"
%>
<%-
        //generate question
        "<div class=\"ques_cont\"><div style=\"font-weight:bold\">"
        +ques_s+
        "</div><div class=\"opt\">"
%>
<%
        var x = 1;
        while(x < 5) {
            var opt_s = x+") "+row['op_'+x]+" <input type=\"radio\" name=\"q"+r+"\" value=\""+x+"\"><br>"
%>
<%-
            //generate options
            opt_s
%>
<% 
            x++
        }
        r++
%>
<%-
        "</div></div><br>"
%>
<%
    })
}
%>


<html>
    <head>
    <script type="text/javascript">
    //Displays a countdown timer
    //Submits the form if timer is reached
    function cd_timer(secs, disp_t) {
        var disp = document.getElementById(disp_t);
        disp.innerHTML = secs+"s";
        if(!secs) {
        document.forms["quiz"].submit();
        }
        secs--;
        setTimeout('cd_timer('+secs+', "'+disp_t+'")',1000);
    }
    
    //To prevent resubmission of form
    if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
    }
    </script>
    <style type="text/css">
        body {
            background:#26A69A;
            color: white;
        }
        .ques_cont {
            padding: 15px;
            font-size: 20px;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
        }
        .opt {
            font-size: 20px;
            line-height: 1.5;
            padding: 10px 8px 5px 8px;
        }
        .top_cont {
            text-align: center;
            padding: 20px 0px;
            font-size: 25px;
            box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
        }
        .btn{
            background-color: #03A9F4;
            font-size: 30px;
            border:none;
            color: white;
            padding: 10px;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
        }
        .sub_cont {
            margin: 0px 10px 10px 0px;
            text-align: center;
        }
    </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz</title>
    </head>
    <body>
        <div class="top_cont">
            GK Quiz<br>
            Difficulty: <%=qtype%><br>
            Time left: <span style="color: #ef5350" id="cdtimer"></span>
        </div>
        <br>
        <script type="text/javascript">cd_timer(30,"cdtimer");</script>
        <form name="quiz" action="/result" method="POST">
            <% //generate ques data
               gen_quiz(data)
            %>
            <input type="hidden" name="qtype" value="<%=qtype%>">
            <div class="sub_cont">
                <input class="btn" type="submit">
            </div>
        </form>
    </body>
</html>

